<div *ngIf="game">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ game.gameMode }}</mat-card-title>
      <mat-card-subtitle>{{ game.startTime | date:'short' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Duration: {{ game.duration }} minutes</p>
      <p>Status: {{ game.status }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <h3>Join Red</h3>
        <qrcode [qrdata]="joinRedQRCode" [width]="256" [errorCorrectionLevel]="'M'" [routerLink]="['/','games','join-team',gameId,'red']"></qrcode>
      </div>
      <div>
        <h3>Join Green</h3>
        <qrcode [qrdata]="joinGreenQRCode" [width]="256" [errorCorrectionLevel]="'M'" [routerLink]="['/','games','join-team',gameId,'green']"></qrcode>
      </div>
    </mat-card-actions>
  </mat-card>

<mat-card *ngIf="users">
  <mat-card-content>
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit($event)">
      <mat-form-field appearance="fill">
        <mat-label>Player</mat-label>
        <mat-select formControlName="playerId">
          <mat-option *ngFor="let user of users" [value]="user._id">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>team</mat-label>
        <mat-select formControlName="team">
          <mat-option [value]="'green'">
            Green
          </mat-option>
          <mat-option [value]="'red'">
            red
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add to Game</button>

    </form>
  </mat-card-content>
</mat-card>

  <div>
    <app-game-players-list [gameId]="game._id" />
  </div>
</div>