<div>
    <h2>Create New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="userForm.get('name').hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="userForm.get('name').hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role">
        <mat-error *ngIf="userForm.get('role')?.hasError('required')">
          Role is required.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Create User</button>
    </form>
    <h1>DOM BETTER</h1>
  </div>
  